@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}
html,body{
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
}

header{
    background-color: rgb(65, 65, 65);
    display: block;
    
}



header .sociais img{
  
    margin-left: 300px;
    width: 30px;
    padding: 10px;

}

section {

    border: solid 1px rgb(156, 156, 156);
    width: 400px;
    display: block;
    position: relative;
    top: 150px;
    margin: auto ;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
}
h1 {
    font-size: 2.5em;
    text-align: center;
    padding: 10px;
     text-shadow: 2px 2px 0px rgb(148, 129, 129);
}
   


section p{
    font-size: 1.2em;
    text-align: center;
}







footer{
    background-color: rgb(44, 44, 44);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
    position: absolute;
    bottom:0;
    width:100%;
    margin: auto auto;
    padding: 10px 5px;
  
}



